* {
    margin: 0;
    padding: 0; /*Esse é o básico dos RESETs, aonde você só reseta a margem e o padding geral.*/
}

body {
    box-sizing:border-box; /*Esse é o melhor para conter o elemento filho, nada vai sair conforme forem criando.*/
    width: 100%;
    height:100vh; /*É o 100% do viewport HEIGHT, por isso o "vh"*/
    background-color: black;
    color: #F6F6F6;
}

.titulo_destaque {
    color:#22D4FD;
}

.apresentacao {
    display: flex;/*Ele coloca no padrão a direção de linha o "row", ele é o elemento pai.*/
    align-items: center; /*Só que é a imagem quem determina o alinhamento, e por quê ela? Porque ela é a de maior altura, então eles seguem o padrão dela.*/
}